<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="dark light" />
        <title>Login - FastGPT</title>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.0.6/css/pico.fuchsia.min.css"
        />
    </head>
<body>
    <header>
        <div class="container">
            <hgroup>
                <h1>Login</h1>
            </hgroup>
        </div>
    </header>
    <main class="container">
        <form action="/login" method="post">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            <button type="submit">Login</button>
        </form>
    </main>
</body>
</html>
